body {
    margin: 25px;
    transition: all .3s ease;
}

label {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.25rem;
    vertical-align: baseline;
}

input, textarea, select {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin: 5px 0 20px;
    border: 1px solid #d6d1c4;
    border-radius: 5px;
    background: #fff;
    outline: 0;
    font-size: 18px;
    font-size: 1.125rem;
}

select {
  font: 22px
}

.form-block {
  width: 980 px;
}

.form-left {
    float: left;
    width: 48%;

    padding-right: 15px;
    padding-top: 15px;
}

.form-right {
    float: right;
    width: 48%;

    padding-left: 15px;
    padding-top: 15px;
}

.text-right {
    text-align: justify;
}

.btn {
    height: 40px;
    min-width: 230px;
    border-radius: 8px;
    font-size: 20px;
    font-size: 1.375rem;
    line-height: 30px;
}

.btn.red {
    background: #dc2c2c;
    border: 2px solid #dc2c2c;
    color: #f8ecbd;
}

.btn.red:disabled {
    background: rgba(220, 44, 44, 0.59);
    border: 2px solid #dc2c2c;
    color: #f8ecbd;
}

.error-msg {
    color: red;
}
