<html ng-app="form">

  <head>
      <link rel="stylesheet" type="text/css" href="new-account-form/form-style.css">
  </head>

  <body>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="new-account-form/form-app.js"></script>
    <script type="text/javascript" src="new-account-form/form-controller.js"></script>

      <div id = "form-html" ng-controller="form-controller as form">
        <form name = "newEntryForm" novalidate>
          <div class = "form-block">
              <div class = "form-left">
                  <p>
                      <label for="accountNo">ACCOUNT NUMBER</label>
                      <input type="text" name="accountNo" ng-model="accountNo" required>
                      <span class="error-msg" ng-show = "newEntryForm.accountNo.$dirty && newEntryForm.accountNo.$invalid">
                        <span ng-cloak ng-show = "newEntryForm.accountNo.$error.required">Account Number is required.</span>
                     </span>
                  </p>
                  <p>
                      <label for="name">NAME</label>
                      <input type="text" name="name" ng-model="name" required>
                      <span class="error-msg" ng-show = "newEntryForm.name.$dirty && newEntryForm.name.$invalid">
                        <span ng-cloak ng-show = "newEntryForm.name.$error.required">Name is required.</span>
                     </span>
                  </p>

                  <p>
                      <label for="bankName">BANK NAME</label>
                      <input type="text" name="bankName" ng-model="bankName" required>
                      <span class="error-msg" ng-show = "newEntryForm.bankName.$dirty && newEntryForm.bankName.$invalid">
                        <span ng-cloak ng-show = "newEntryForm.bankName.$error.required">Bank Name is required.</span>
                     </span>
                  </p>

                  <p>
                      <label for="branchName">BRANCH NAME</label>
                      <input type="text" name="branchName" ng-model="branchName" required>
                      <span class="error-msg" ng-show = "newEntryForm.branchName.$dirty && newEntryForm.branchName.$invalid">
                        <span ng-cloak ng-show = "newEntryForm.branchName.$error.required">Branch Name is required.</span>
                     </span>
                  </p>

                  <p>
                      <label for="dateCommenced">DATE COMMENCED</label>
                      <input type="date" name="dateCommenced" ng-model="dateCommenced" required>
                  <p>
              </div>

              <div class="form-right">
                  <p>
                      <label for="dateOfMaturity">MATURITY DATE</label>
                      <input type="date" id="dateOfMaturity" name="dateOfMaturity" ng-model="dateOfMaturity" required>
                  </p>

                  <p>
                      <label for="account-type">ACCOUNT TYPE</label>
                      <select id="account-type" name="account-type">
                                <option value="single">single</option>
                                <option value="half-yearly">half-yearly</option>
                                <option value="yearly">yearly</option>
                      </select>
                  </p>

                  <p>
                      <label for="D">DESCRIPTION</label>
                  </p>
                  <p>
                      <textarea id="description" rows="5" cols="50"></textarea>
                  </p>
                  <div class="text-right">
                      <p>
                          <button class="btn red" ng-disabled="newEntryForm.accountNo.$error.required || newEntryForm.name.$error.required ||
                        newEntryForm.bankName.$error.required || newEntryForm.branchName.$error.required || newEntryForm.dateCommenced.$error.required || newEntryForm.dateOfMaturity.$error.required ">SUBMIT ENTRY</button>
                      </p>
                  </div>
                </div>

        </div>
        </form>

      </div>

  </body>

  <script src="assets/w3-include-HTML.js"></script>
</html>
